.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body{
  background-color: rgb(71, 136, 232);
  color:white
}

.input-box{
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-box > input{
  height: 50px;
  width: 50px;
  outline: none;
  border: none;
  font-size: 20px;
  margin: 20px;
  text-align: center;
}

.timer-button{
  border: none;
  outline: none;
  height: 40px;
  width: 100px;
  background-color: rgb(255, 153, 51);
  cursor: pointer;
  border-radius: 10px;
}

.timer-box{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
}

.action-button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:10px
}